.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.add-new-button {
    background-color: #F3F3F3;
    text-align: center;
    cursor: pointer;
}

.vcenter {
     vertical-align: center;
}

.big-font {
    font-size: 4em;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }