<md-card>
    <md-toolbar color="primary">Shopping List 1</md-toolbar>
    <md-card-content>
        <md-list class="app-list">
            <md-list-item *ngFor="let item of model.items">
                <md-checkbox [checked]="item.checked">
                    {{item.name}} - {{item.price}}
                </md-checkbox>
            </md-list-item>
        </md-list>
    </md-card-content>
    <md-card-actions align="begin">
        <button md-button color="accent">EDIT</button>
        <button md-button color="primary">SAVE</button>
        <button md-button color="warn">DELETE</button>
    </md-card-actions>
</md-card>