<md-toolbar color="primary">
    <span>
      <md-icon class="material-icons">shopping_cart </md-icon>
    </span>
    <span class="app-toolbar-filler"></span> Shopping Lists - Login
    <span class="app-toolbar-filler"></span>
    <span class="app-toolbar-filler"></span>
</md-toolbar>
<md-sidenav-layout>
    <md-card *ngIf="!!login">
        <md-card-content>
            <table style="width: 100%" cellspacing="0">
                <tr>
                    <td>
                        <md-input class="full-width" placeholder="Email Address" (ngModel)="userModel.username"></md-input>
                    </td>
                </tr>
                <tr>
                    <td>
                        <md-input class="full-width" type="password" placeholder="Password" (ngModel)="userModel.password"></md-input>
                    </td>
                </tr>
            </table>

        </md-card-content>
        <md-card-actions align="end">
            <button md-raised-button color="primary" (click)="loginClick()">LOGIN</button>
            <button md-raised-button color="accent" (click)="login = false">REGISTER</button>
        </md-card-actions>
    </md-card>

    <md-card *ngIf="!login">
        <md-card-content>
            <table style="width: 100%" cellspacing="0">
                <tr>
                    <td>
                        <md-input class="full-width" placeholder="Email Address" (ngModel)="userModel.username"></md-input>
                    </td>
                </tr>
                <tr>
                    <td>
                        <md-input class="full-width" placeholder="Enter Email Address Again" (ngModel)="userModel.username"></md-input>
                    </td>
                </tr>
                <tr>
                    <td>
                        <md-input class="full-width" type="password" placeholder="Password" (ngModel)="userModel.password"></md-input>
                    </td>
                </tr>
                <tr>
                    <td>
                        <md-input class="full-width" type="password" placeholder="Password Again" (ngModel)="userModel.password"></md-input>
                    </td>
                </tr>
            </table>

        </md-card-content>
        <md-card-actions align="end">
            <button md-raised-button color="primary" (click)="registerClick()">CONTINUE</button>
            <button md-raised-button color="accent" (click)="login = true">CANCEL</button>
        </md-card-actions>
    </md-card>
</md-sidenav-layout>