<md-toolbar color="primary">
    <span>
      <md-icon class="material-icons">shopping_cart </md-icon>
    </span>
    <span class="app-toolbar-filler"></span> Shopping Lists - Login
    <span class="app-toolbar-filler"></span>
    <span class="app-toolbar-filler"></span>
</md-toolbar>
<md-sidenav-layout>
    <md-card>
        <sh-login-inputs *ngIf="!!login" [(userModel)]="user" (loginClicked)="loginClick()" (registerClicked)="login = false">
        <!--<sh-login-inputs [@isVisibleChanged]="login" (loginClicked)="loginClick()" (registerClicked)="login = false">-->
        </sh-login-inputs>
        <sh-login-register *ngIf="!login" (userModel)="user" (registerClicked)="registerClick()" (cancelClicked)="login = true">
        <!--<sh-login-register [@isVisibleChanged]="!login" (registerClicked)="registerClick()" (cancelClicked)="login = true">-->
        </sh-login-register>
    </md-card>
</md-sidenav-layout>